<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/modernizr.js"></script><!-- Modernizr -->

  <title>Share Your Link</title>
</head>
<body>
<header>
  <h1>Share your link.</h1>
</header>
<div class="cd-tabs">
  <nav>
    <ul class="cd-tabs-navigation">
      <li><a data-content="links" class="selected fa fa-file-code-o" href="#link"> Links </a></li>
      <li><a data-content="add" class="fa fa-plus-square-o" href="#add">Add New</a></li>
      <li><a data-content="about" class="fa fa-id-card-o" href="#about">About</a></li>
    </ul> <!-- cd-tabs-navigation -->
  </nav>

  <ul class="cd-tabs-content">
    <li data-content="links" class="selected">
      <p><b>Welcome!</b> Below are links. In the future the option to upload pictures will be available. In order to <b>add a link, select the second tab</b>.
        For each link, you can comment with your preferred name or if you leave blank, it will automatically be <b>anonymous</b>
        If you have <b>questions, check the 'about' tab.</b> </p>

        <p>Think of this web app as a file cabinet for link sharing :)</p>

      <!-- Link title and description -->
      <% @links.each do |link| %>
          <div class="content">
            <a href="<%= link.link %>" target="_blank"><img src="http://a4.mzstatic.com/us/r30/Purple3/v4/d6/e4/12/d6e41207-d0ee-96c5-6f9d-e789c6e4caf7/icon128-2x.png" alt="alter" height="100" width="100"></a>
            <h3><%= link.author %></h3>
            <p><%= link.comment %></p>

            <!-- Button to add and view comments -->
            <button class="accordion">Add/View Comments</button>
            <div class="panel">
              <p></p>

              <!-- Add comment form -->
              <div class="form">
                <form action="/add_comment" method="POST">
                  <input type="hidden" name="comment[link_id]" value=<%= link.id %>>
                  <label for="author">Author:</label>
                  <input type="text" name="comment[author]" placeholder="Anonymous or your name">

                  <label for="comment">Comment:</label>
                  <textarea class="form-control" rows="5" name="comment[comment]" placeholder="this is awesome!"></textarea>

                  <input type="submit" value="Submit">
                </form>
              </div>

              <!-- Comments -->
              <% refresh_comments(link.id).each do |comment| %>
                  <% if comment.author == "" %>
                      <p><u>Anonymous says:</u></p>
                  <% else %>
                      <p><u><%= comment.author %> says:</u></p>
                  <% end %>
                  <p><i><%= comment.comment %></i></p>
              <% end %>
            </div>
          </div>
          <hr>
      <% end %>
    </li>

    <li data-content="add">
      <p>In order to add a new link to the list of links, <b>fill the form below</b>.
        In the future I would like to give the option to upload a picture instead of the default. If you have more questions, check out the '<b>about</b>' tab</p>

      <div class="form">
        <form action="/create" method="POST">
          <label for="fname">Author:</label>
          <input type="text" name="link[author]" placeholder="Anonymous or your name">

          <label for="lname">Link:</label>
          <input type="text" name="link[link]" placeholder="http://whatever.com">

          <label for="lname">Caption:</label>
          <input type="text" name="link[comment]" placeholder="Describe me!">

          <input type="submit" value="Add Link">
        </form>
      </div>

    </li>

    <li data-content="about">
      <p><b>Share your link</b> is a Ruby Sinatra toy web app hosted on <a href="https://heroku.com" target="_blank">Heroku</a>
        and using <a href="https://www.postgresql.org" target="_blank">postgreSQL</a> as the database.
        Created originally for my Software Development II course Fall 2015 and I just continued to build on it for practice on the
        front-end.</p>

      <p>Below is what it looked like before April 2017.</p>

      <div class="example">
        <img src="/images/syl_home.png" alt="Old Home for SYL"/>
        <img src="/images/syl_link.png" alt="New Link Form"/>
      </div>

      <br/>

      <div class="content">
        <a href="http://adrianna.tech" target="_blank"><img src="/images/about_pic_syl.JPG" alt="alter" height="100" width="100"></a>
        <h3>Adrianna Valdivia</h3>
        <p>Junior Front-End Devloper</p>
        <p>Would you like to <a href="https://github.com/avaldivi/ShareYourLink_Sinatra" target="_blank">fork this repo</a>
          ? or would you like to <a href="https://github.com/avaldivi/ShareYourLink_Sinatra/issues" target="_blank">notify me of an issue</a> ?</p>
      </div>

    </li>
  </ul> <!-- cd-tabs-content -->
</div> <!-- cd-tabs -->

<!--footer -->
<div class="footer">
  <p> Made with <i class="fa fa-heart"></i> - © Adrianna Valdivia 2017 </p>
</div>

<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }
</script>

</body>
</html>
